<html>
  <head>
	  <style>
		  body {
				background: white;
				<% if message == "You got it right!" %>
				  background: green;
				<% elsif message == "Way too high!" || message == "Way too low!" %>
				  background: red;
				<% elsif message == "Too high!" || message = "Too low!" %>
				  background: pink;
				<% end %>
			}
		</style>
	</head>
	<body>
		<form>
		  <input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
    <p>
		  <%= message %>
		</p>
		<% if number == params['guess'].to_i %>
			<p>
				The SECRET NUMBER is <%= number %>
			</p>
		<%end%>
	</body>
</html>